.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: url('../static/background/home-3.jpg') rgba(255,255,255,0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.home-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.home-content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.home-content img {
    width: 400px;
    height: 400px;
    margin: 40px 0;
}

.home-content h1 {
    font-family: 'Parisienne', cursive;
    font-size: 80px;
    margin: 0 0 16px 0;
    color: #f8f8f8;
}

.home-content h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 200;
    color: rgba(248,248,248,0.9);
}

.home-nav {
    width: 100vw;
    height: 5vh;
    padding-top: 160px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: transparent;
}

.home-nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    list-style: none;
}

.nav-item {
    margin: 0 40px;
}

.nav-link {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
  
.nav-link { color: #f8f8f8; }
.nav-link:hover { color: #ffffff; font-size: 18px; }  