.products-hero {
    background: url('../static/background/home.jpg') rgba(0,0,0,0.25);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.hero-container {
    width: 100vw;
    height: 50vh;
}

.products-list {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.products-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.products-container h1 {
    font-family: 'Parisienne', cursive;
    font-size: 56px;
    padding: 96px 0 24px 0;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.products-wrapper a, .products-wrapper a:hover, .products-wrapper a:active, .products-wrapper a:visited { text-decoration: none; }

.product-card {
    margin: 24px;
    width: 320px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #F8F8F8;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    transition: all 500ms ease-in-out;
}

.product-card:hover {
    margin-top: -8px;
    box-shadow: 0 12px 30px 0px rgba(0,0,0,0.3);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

#espresso { background: url('../static/images/espresso.jpg') rgba(0,0,0,0.2); background-size: 100% 100%; }
#macchiato { background: url('../static/images/macchiato.jpg') rgba(0,0,0,0.2); background-size: 100% 100%; }
#latte { background: url('../static/images/latte.jpg') rgba(0,0,0,0.2); background-size: 100% 100%; }
#flat-white { background: url('../static/images/flat-white.jpg') rgba(0,0,0,0.3); background-size: 100% 100%; }
#cappucino { background: url('../static/images/cappucino.jpg') rgba(0,0,0,0.3); background-size: 100% 100%; }
#mocha { background: url('../static/images/mocha.jpg') rgba(0,0,0,0.3); background-size: 100% 100%; }
#americano { background: url('../static/images/americano.jpg') rgba(0,0,0,0.3); background-size: 100% 100%; }
#con-panna { background: url('../static/images/con-panna.jpg') rgba(0,0,0,0.3); background-size: 100% 100%; }

.product-content {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.product-content h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color:#F8F8F8;
    padding: 8px 0;
}

.product-content p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #F8F8F8;
    padding: 8px 0;
}